.button {
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background: #d9e1f0;
  color: #9bacc9;
  pointer-events: none;
}

.text {
  background: #1258ca;
  border: 1px solid #d0d0d0;
  color: #ffffff;
}

.text:hover {
  background: #0e4298;
}

.icon {
  background: #ffffff;
  border: 1px solid #bbcbdf;
  width: 60px;
  height: 60px;
}

.icon:hover {
  background-color: #dadada;
}
