.container {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}


.cell {
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}