.container {
    width: 100%;
    height: 100vh;
    padding: 15px 188px 15px 40px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #0E4298;
    text-align: start;
    margin-bottom: 30px;
}

.header {
    width: 100%;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.headerColumn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}