.modalContainer {
  position: fixed;
  background-color: white;
  bottom: 0;
  right: 0;
  height: calc(100% - 54px);
  width: 50%;
  padding: 10px;
  z-index: 100;
}

.opened {
  animation: openAnimation 0.3s ease-in;
}

.closed {
  animation: closeAnimation 0.3s ease-in;
}

.closeModal {
  text-align: right;
}

.closeModal button {
  color: #3f3f3f;
}

.eventTitle {
  margin-bottom: 15px;
  font-size: 20px;
  color: #1258ca;
  font-weight: 600;
  height: 28px;
  padding: 3px;
}

.eventTitle input {
  height: 100%;
  padding: 0;
  color: #1258ca;
}

.editTitle {
  padding: 5px !important;
}

.checkboxContainer {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.checkboxLabel {
  font-size: 14px;
}

.checkboxLabel:not(:last-child) {
  margin-right: 30px;
}

.checkboxIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 2px solid #879fd0;
  border-radius: 3px;
}

.checkedboxIcon {
  border: 2px solid #1258ca;
}

.selectBtn {
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 50%;
  color: #9bacc9;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 3px solid #9bacc9;
}

.activeView {
  color: #1258ca;
  border-bottom: 3px solid #1258ca;
}

.createdBy {
  margin-bottom: 20px;
  font-size: 14px;
  color: #a3a3a3;
}

.selectMembers {
  margin-bottom: 10px;
  position: relative;
  width: 50%;
}

.infoTitle {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}

.selectMembersBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  text-align: left;
}

.selected {
  color: #212121;
}

.notSelected {
  color: #a3a3a3;
}

.membersList {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  max-height: 150px;
  overflow-y: scroll;
  z-index: 100;
  box-shadow: 0px 0px 30px 0px #1258ca0d;
}

.listItemName {
  font-size: 14px;
}

.notification {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.selectNotificationTypeBtn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 160px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  text-align: left;
}

.selectedNotificationTypes {
  white-space: nowrap;
  overflow-x: hidden;
}

.notificationTypeList {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 160px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0px 0px 30px 0px #1258ca0d;
}

.notificationTimeOut {
  padding: 10px;
  width: 90px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
}

.timeUnitBlock {
  position: relative;
  width: 100px;
}

.timeUnitBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  text-align: left;
}

.timeUnitList {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0px 0px 30px 0px #1258ca0d;
}

.timeUnitList li {
  font-size: 14px;
  cursor: pointer;
  padding: 12px;
}

.timeUnitList li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.timeUnitList li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.timeUnitList li:hover {
  background-color: #9bacc9;
}

.removeNotificationBtn {
  height: 20px;
  padding: 0;
}

.addNotificationBlockBtn {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #b0c0e0;
  font-size: 14px;
}

.buttonsContainer {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  gap: 11px;
}

.cancelBtn {
  width: 147px;
  height: 40px;
  background: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #a3a3a3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveBtn {
  width: 147px;
  height: 40px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes openAnimation {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes closeAnimation {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
