.container {
  padding: 10px;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}
.container:first-child {
  border-left: none;
}

.currentDay {
  border-radius: 100%;
  background: blue;
  color: white;
  padding: 4px;
}
