{
	"tabWidth": 2,
	"trailingComma": "none",
	"semi": false,
	"singleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 120,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"useTabs": true
}
