.button {
    padding: 20px 20px;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
}

.text {
    background: #1258CA;
    border: 1px solid #D0D0D0;
    color: #FFFFFF;
}

.text:hover {
    background: #0E4298;
}

.icon {
    background: #FFFFFF;
    border: 1px solid #BBCBDF;
    width: 60px;
    height: 60px;
}

.icon:hover {
    background-color: #dadada;
}

.disabled {
    background: #9BACC9;
    pointer-events: none;
}


