.list {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px 45px;
    align-items: center;
}

.column, .columnPaid, .columnName, .columnMilestone {
    font-family: 'Inter';
    font-style: normal;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    box-sizing: border-box;
}

.columnStatus {
    display: flex;
    width: 120px;
    justify-content: center;
}

.columnName {
    margin-right: 180px;
}

.columnMilestone {
    margin-right: 190px;
}

.columnPaid {
    display: flex;
    gap: 10px;
    margin-right: 90px;
}

.input {
    width: 67px;
    height: 20px;
    padding: 9px 12px;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #A3A3A3;
}

.statusBlock {
    margin-right: 70px;
}

.status {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    border: none;
    outline: none;
    padding-right: 30px;
}

.menu {
    background: #FFFFFF;
    box-shadow: 0 4px 50px 10px rgba(18, 88, 202, 0.08);
    border-radius: 5px;
    border: none;
}

.root {
    width: 76px;
    height: 40px;
}

.paidDropdown {
    background: #FFFFFF;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
}

.arrow, .arrowOpen {
    top: 16px;
    border-color: #1258ca transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: 15px;
    width: 0;
}

.arrowOpen {
    border-color: transparent transparent #1258ca;
    border-width: 0 5px 5px;
}

.checked {
    background: #D9E1F0;
}

.arrowBlock {
    right: 10px;
}