.container {
  padding: 80px;
  width: 660px;
  border-radius: 30px;
  background: #ffffff;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #212121;
  margin-bottom: 20px;
}

.subTitle,
.description {
  width: 400px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.description {
  margin-top: 10px;
  padding-bottom: 90px;
}

.info {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #0e4298;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
