.wrapUserChat {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
    background-color: #eef5ff;
    transition: all 0.7s;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.user {
  color: #212121;
}

.team {
  color: #9bacc9;
}
