.wrap {
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	transition: all 0.7s;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 555px;
	padding: 60px 80px;
	text-align: start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: 0 4px 50px 10px rgba(18, 88, 202, 0.15);
	border-radius: 30px;
}

.activeModal {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.passwordBlock {
	position: relative;
	display: flex;
	gap: 100px;
	align-items: center;
}

.passwordBlock:hover .popoverTitle {
	z-index: 10000;
	opacity: 1;
	visibility: visible;
	transform: translate(30px, 30px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	background: rgba(183, 210, 254, 0.6);
}

.password {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	color: #212121;
}

.description {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #212121;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.iconsBlock {
	display: flex;
	gap: 16px;
}

.copyIcon:hover,
.icon:hover {
	cursor: pointer;
}

.copyIcon:hover path {
	fill: #1258ca;
}

.bold {
	font-weight: 900;
}

.copyMessage {
	position: absolute;
	right: -50px;
	top: -15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #1258ca;
}

.popoverTitle {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 250px;
	transform: translate(30px, 30px);
	background: rgba(183, 210, 254, 0.6);
	padding: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: 160px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #212121;
	backdrop-filter: blur(5px);
	text-align: center;
}
