.container {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #ffffff;
}

.title {
  margin-top: 52px;

  align-self: flex-start;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #212121;
}

.description {
  margin: 0;
  align-self: flex-start;
  padding-top: 7px;
  color: #a3a3a3;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 50px;
}
