.container {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-self: center;
  border-radius: 30px;
  background: #ffffff;
}

.title {
  margin: 78px 0 30px 80px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #212121;
}

.subTitle, .description {
  text-align: start;
  width: 400px;
  justify-content: flex-start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #212121;
  padding-left: 80px;
  padding-bottom: 20px;
}
.description{
  padding-bottom: 136px;
}

.info {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;

}

.link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #0E4298;
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}