.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.menuContainer {
  display: flex;
  height: 100%;
}

.main {
  height: 93vh;
  width: 100%;
  overflow: auto;
}
