.container {
    display: flex;
    align-self: center;
    width: 660px;
    height: 439px;
    background: #FFFFFF;
    box-shadow: 0 4px 50px 10px rgba(66, 112, 167, 0.08);
    border-radius: 30px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 32px !important;
    line-height: 39px !important;
    color: #212121 !important;
}

.subtitle {
    display: flex;
    width: 332px;
    text-align: start;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
}

.paddingContainer {
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.titleBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}