.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 222px;
  background: #ffffff;
  height: calc(100vh - 54px);
  padding: 30px 20px 40px 20px;
  justify-content: space-between;
}

.navButton {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  text-decoration: none;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  gap: 25px;
}

.navButton:hover,
.navButton:focus {
  background: #eef5ff;
  border-radius: 10px;
}

.navButton:active {
  color: #727171;
}

.arrowContainer {
  position: absolute;
  top: 15px;
  right: 10px;
}

.activeNavButton,
.activeNavButton:hover,
.activeNavButton:focus {
  background: #1258ca;
  border-radius: 10px;
}

.addProject {
  color: #a3a3a3;
  background: #ffffff;
}

.addProject:hover,
.addProject:focus {
  background: #ffffff;
}

.activeColor {
  color: #ffffff;
}

.div {
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Inter';
  font-style: normal;
}

.list {
  display: none;
}

.projectsMargin {
  margin-bottom: 16px;
}

.listActive {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  margin-top: 5px;
}

.el {
  display: flex;
  gap: 25px;
  align-items: center;
  text-decoration: none;
}

.el:hover {
  color: #1258ca;
}

.logoutContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logoutContainer:hover,
.logoutContainer:focus {
  cursor: pointer;
  background: #eef5ff;
  border-radius: 10px;
}

.logout {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a3a3a3;
}

.projectBlock {
  padding-left: 10px;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.projectBlock:hover,
.projectBlock:hover path {
  color: #879fd0;
  stroke: #879fd0;
}

.activeProject {
  color: #1258ca;
}

.activeAddProject,
.activeAddProject:hover path {
  color: #1258ca;
}

.hoverAddProject:hover,
.hoverAddProject:hover path {
  color: #879fd0;
  stroke: #879fd0;
}
