.container {
  display: flex;
  flex-direction: column;
  width: 222px;
  background-color: white;
  height: calc(100vh - 100px);
  padding: 30px 20px 40px 20px;
  justify-content: space-between;
}

.navButton {
  display: flex;
  margin-bottom: 41px;
  text-decoration: none;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  gap: 25px;
}

/*.navButton:hover {*/
/*    color: #0E4298;*/
/*}*/

.navButton:active {
  color: #727171;
}

/*.activeNavButton > div > div:nth-child(1) path {*/
/*  stroke: #f4f8fe;*/
/*}*/

/*.activeNavButton path {*/
/*  fill: #1258ca;*/
/*}*/

/*.activeNavButton circle {*/
/*  fill: #1258ca;*/
/*}*/

/*.activeNavButton rect {*/
/*  stroke: #1258ca;*/
/*}*/

.div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  font-family: 'Inter';
  font-style: normal;
}

/*.div:hover path {*/
/*  stroke: #1258ca;*/
/*}*/

.div:hover rect {
  stroke: #1258ca;
}

.div:hover circle {
  stroke: #1258ca;
}

.div:hover {
  color: #0e4298;
}

.list {
  display: none;
}

.projectsMargin {
  margin-bottom: 16px;
}

.listActive {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  margin-top: 5px;
}

.el {
  display: flex;
  gap: 25px;
  align-items: center;
  text-decoration: none;
}

.el:hover {
  color: #1258ca;
}

.logoutContainer {
  display: flex;
  gap: 28px;
  align-items: center;
}

.logoutContainer:hover {
  cursor: pointer;
}

.logout {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a3a3a3;
}

.projectBlock {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.projectBlock:hover path {
  stroke: #1258ca;
}

.projectBlock:hover {
  color: #0e4298;
}
