.container {
    box-sizing: border-box;
    width: 660px;
    height: 586px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #ffffff;
    align-self: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500 !important;
    font-size: 32px !important;
    line-height: 39px !important;
    color: #212121 !important;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.line {
    display: flex;
    align-self: flex-end;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #9e9e9e;
    text-decoration: underline;
    cursor: pointer;
}

.button {
    width: 100%;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    margin-bottom: 88px;
}

.or {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    color: #9e9e9e;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.info {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-left: 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #808080;
}

.checkboxContainer {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.titleBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    margin-bottom: 40px;
}

.subtitle {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
}

.link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0E4298;
    text-decoration: none;
}

.test {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
}

.straightLine {
    width: 219px;
    height: 0;
    border: 1px solid #4270a7;
}

.lineBlock {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.eyeIcon {
    position: absolute;
    top: 22px;
    right: 20px;
}