.container {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px 0;
}

.panel {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #212121;
}

.panel > div > div:first-child {
	padding: 0 !important;
}

.panel > div:first-child {
	padding: 10px 0 !important;
}

.panel > div:first-child > span {
	padding: 0 !important;
	text-align: start;
}

.input {
	width: 275px;
	height: 40px;
	display: flex;
	justify-content: center;
}

.collapseContainer {
	background-color: #ffffff;
	padding: 0;
}

.rangePicker {
	color: #a3a3a3;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	display: flex;
	justify-content: center;
}

.cascader {
	background: #ffffff;
	border-radius: 10px 10px 0 0;
	width: 100%;
	margin-bottom: 15px;
	text-align: start;
}

.popup {
	padding-top: 5px;
	width: 295px;
	background: #ffffff;
	border: 1px solid #1258ca;
	border-radius: 0 0 10px 10px;
}
