.modal {
    transform: translateX(1500px);
    transition: all 0.7s;
    position: absolute;
    background: #ffffff;
    padding: 30px;
    top: 54px;
    width: 1000px;
    right: 0;
    bottom: 0;
    outline: none;
}

.activeModal {
    transform: translateY(0);
    transition: all 0.7s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 34, 47, 0.5);
}

.icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 999;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.milestone {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a3a3a3;
}

.deleteContainer {
    display: flex;
    gap: 10px;
    padding-right: 140px;
}

.deleteContainer:hover {
    cursor: pointer;
    opacity: 0.8;
    color: #0e4298;
}

.deleteContainer:hover path {
    opacity: 0.8;
    stroke: #0e4298;
}

.titleTask {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1258ca;
    margin-bottom: 16px;
}

.descriptionInput {
    box-sizing: border-box;
    padding: 20px;
    width: 565px;
    height: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    border: 1px solid #4270a7;
    border-radius: 10px;
    outline: none;
    margin-bottom: 5px;
}

.descriptionInput:hover {
    border: 1px solid #4270a7;
}

.descriptionInput:focus {
    border: 1px solid #4270a7;
}

.descriptionInput:active {
    color: #313037;
}

.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #212121;
    text-align: start;
    margin-bottom: 4px;
}

.attachmentContainer {
    display: flex;
}

.attachmentBlock {
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;
}

.mainBlock {
    display: flex;
    gap: 50px;
}

.arrowOpen {
    border-color: transparent transparent #1258ca;
    border-width: 0 5px 5px;
}

.arrowClosed,
.arrowOpen {
    top: 16px;
    border-color: #1258ca transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 15px;
    width: 0;
}

.dropdownControl {
    padding: 8px 10px;
    box-sizing: border-box;
    width: 305px;
    height: 40px;
    border: 1px solid #4270a7;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.dropdownControl > div {
    display: flex;
    align-items: center;
}

.dropdownPlaceholder {
    text-align: start;
}

.dropdownControl:hover {
    border: 1px solid #4270a7;
}

.rightBlock {
    display: flex;
    flex-direction: column;
}

.label {
    box-sizing: border-box;
    width: 305px;
    height: 40px;
    border: 1px solid #4270a7;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3;
    cursor: pointer;
    outline: none;
    padding-left: 8px;
}

.deadline {
    height: 40px;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #a3a3a3;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.calendarIcon {
    position: absolute;
    top: 30px;
    right: 12px;
    cursor: pointer;
}

.startDateContainer {
    box-sizing: border-box;
    width: 305px;
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    margin-top: 30px;
    display: flex;
    gap: 11px;
}

.cancelBtn {
    width: 147px;
    height: 40px;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveBtn {
    width: 147px;
    height: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputsBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 75%;
    overflow: auto;
    padding-right: 10px;
}

.downloadBtn {
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a3a3a3;
    border: 1px solid #9bacc9;
    border-radius: 10px;
    margin-top: 90px;
}

.downloadBtn:hover {
    opacity: 0.6;
}

.blockDownload {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.datepicker {
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3;
    border: 1px solid #4270a7;
}

.datepicker > div input::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3 !important;
}

.datepicker > div input[title] {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3 !important;
}

.titleInput {
    background-color: #ffffff;
    padding-left: 0;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1258ca;
}

.titleInput:hover,
.titleInput:focus {
    border: none;
    outline: none;
}

.titleInput:focus::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #898b9b;
}

.titleInput::placeholder {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1258ca;
    margin-bottom: 16px;
}

.titleContainer {
    display: flex;
}

.editIcon {
    margin-top: 20px;
}

.editIcon:hover {
    cursor: pointer;
}

.commentInput {
    height: 100px;
    border: 1px solid #4270a7;
    border-radius: 10px;
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    outline: none;
    margin-bottom: 5px;
}

.submitBtn {
    padding: 6px 11px;
    width: 90px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    border-radius: 5px;
    align-self: end;
    margin-right: 10px;
}

.descriptionContainer,
.commentContainer {
    display: flex;
    flex-direction: column;
}

.dropdownMenuStatus {
    margin-top: -234px;
}

.cascader {
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px 10px 0 0;
    width: 100%;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a3a3a3;
}

.cascader > div {
    height: 40px;
    outline: none;
    background: #ffffff;
    border: 1px solid #4270a7 !important;
}

.cascader > div span {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #a3a3a3 !important;
}

.popup {
    padding-top: 5px;
    width: 305px;
    background: #ffffff;
    border: 1px solid #1258ca;
    border-radius: 0 0 10px 10px;
}

.wrapModal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(155, 172, 201, 0.3);
    transition: all 0.7s;
    position: fixed;
}

.showModal {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s;
}

.titleDiv {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1258ca;
}

.commentBlock {
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #4270a7;
    border-radius: 10px;
    margin-bottom: 10px;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
}

.commentAvatar {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #0e4298;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.commentOwner {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #212121;
}

.textComment {
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.commentList {
    padding-right: 10px;
    max-height: 180px;
    overflow: auto;
    margin-bottom: 10px;
}

.avatarContainer {
    display: flex;
    align-items: center;
    gap: 7px;
}

.editContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #a3a3a3;
}

.editButton {
    cursor: pointer;
}

.editButton:hover {
    color: #1258ca;
}

.commentsButton {
    display: flex;
    justify-content: flex-end;
}
