.container {
   display: flex;
   flex-direction: column;
   gap: 25px;
   height: 70vh;
}

.empty {
   width: 694px;
   height: 70vh;
   display: flex;
   align-items: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 40px;
   color: #A2A2A2;
   margin: 0 auto;
}