.wrapChats {
  font-family: 'Inter';
  font-style: normal;
  text-align: start;
  display: flex;
  width: 100%;
  height: calc(100vh - 57px);
}

.panelChats {
  flex-shrink: 0;
  width: 522px;
  border-right: 1px solid #4270a7;
}

.panelChatsNoHead {
  width: 303px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #0e4298;
  margin: 0;
  padding: 15px 15px 0px 15px;
  margin-bottom: 11px;
}

.titleNotHead {
  margin-bottom: 40px;
}

.searchContainer {
  position: relative;
  margin-bottom: 15px;
  padding: 0 15px 0 20px;
}

.searchInput {
  width: 100%;
  height: 40px;
  border-color: transparent;
  border-radius: 25px;
  padding: 8px 20px 8px 50px;
}

.searchInput::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a3a3a3;
}

.searchInput:focus::placeholder {
  position: absolute;
  top: 5px;
}

.icon {
  position: absolute;
  top: 9px;
  left: 40px;
  cursor: pointer;
}

.panelChatsFilters {
  border-right: 1px solid #0e4298;
  width: 100%;
}

.collapseContainer {
  background-color: transparent;
}

.panel {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filters {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  margin-bottom: 6px;
  padding-left: 15px;
}





.chats {
  background-color: #f4f8fe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.chatsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 10px;
}

.chatsMain {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  height: 100vh;
  padding: 40px 11px;
  overflow: auto;
}

.message {
  align-self: flex-start;
  padding: 15px;
  background-color: #f4f8fe;
  border-radius: 10px;
  max-width: 406px;
  margin-bottom: 20px;
  word-break: break-all;
}

.messageMe {
  background-color: #bcd4f9;
  align-self: flex-end;
}

.chatsFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 30px 18px 15px;
}

.chatsPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #1258ca;
}

.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.more {
  cursor: pointer;
  margin-left: 10px;
}

.userChat {
  padding: 0;
}
