.container {
    margin: 0;
    display: flex;
    background-color: #f4f8fe;
    padding: 0 35px 0 30px;
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #4270a7;
}

.headerLine {
    display: flex;
    justify-content: space-between;
    line-height: 54px;
    align-items: center;
    width: 100%;
}

.title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-left: 28px;
}

.iconsContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

.iconBell {
    border-radius: 5px;
    border: none;
    background: none;
}

.iconBell:hover {
    background: none;
}

.notificationContainer {
    display: flex;
    align-items: center;
}

.notificationCount {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #1258ca;
    position: relative;
    top: -7px;
    left: -32px;
}

.iconUser {
    background: none;
    border: none;
}

.iconUser:hover {
    background: none;
}