.container {
    transform: translateX(1500px);
    transition: all 0.7s;
    position: absolute;
    width: 380px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    top: 0;
    right: 0;
}

.activeModal {
    transform: translateX(0);
    transition: all 0.7s;
}

.children {
    padding: 40px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
}

.filtersHeader {
    display: flex;
    padding: 40px 40px 30px 40px;
    justify-content: space-between;
}

.headerTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}

.closeIcon {
    cursor: pointer;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 40px 70px 40px;
}

.applyBtn {
    height: 54px;
}

.clearBtn {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #a3a3a3;
    cursor: pointer;
}

.clearBtn:hover {
    opacity: 0.5;
}
