.container {
    display: flex;
    flex-direction: column;
    width: 660px;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #ffffff;
}

.title {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 80px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #212121;
}

.description {
    margin: 0;
    align-self: flex-start;
    padding-top: 7px;
    color: #a3a3a3;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 50px;
}

.inputsContainer {

    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

.inputsContainer:focus {
    outline: #1258ca;
}

.button {
    margin-top: 40px;
    width: 100%;
    height: 54px;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.eyeIcon {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 20px;
}

.info {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #808080;
}

.link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0E4298;
    text-decoration: none;
}

.form {
    margin-bottom: 0;
}

.formItem {
    margin-bottom: 0;
}
