.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.description {
    margin: 0;
    align-self: flex-start;
    padding-top: 7px;
    color: #a3a3a3;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 50px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputsContainer:focus {
    outline: #1258ca;
}

.button {
    background-color: #9bacc9;
    margin-top: 50px;
}
