.container {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  width: 17px;
  height: 17px;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #212121;
}
