.chatsMain {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
  height: 100vh;
  padding: 40px 11px;
  overflow: auto;
}

.message {
  padding: 15px;
  background-color: #f4f8fe;
  border-radius: 10px;
  max-width: 406px;
  word-break: break-all;
}

.messageMe {
  background-color: #bcd4f9;
}

.chatsFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 30px 18px 15px;
}

.wrapMessages {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.wrapMessagesMe {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #7aa8f3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}

.avatarPhoto {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.innerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.btn {
  padding: 16px 32px;
  border-radius: 10px;
  background: #d9e1f0;
  color: #212121;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
