.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  box-sizing: border-box;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 30px;
  cursor: pointer;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #0e4298;
  text-align: start;
  margin-bottom: 20px;
}

.blueLine {
  margin-top: 20px;
  border-top: 1px solid #1258ca;
  margin-bottom: 30px;
}

.empty {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #a2a2a2;
  width: 694px;
}

.wrapModal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(155, 172, 201, 0.3);
  transition: all 0.7s;
  position: fixed;
}

.showModal {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s;
}
