.tableContainer {
    border: 1px solid #C8C8C8;
    border-right: none;
    border-spacing: 0;
    width: 100%;
}

.tableHeader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    border-right: 1px solid #C8C8C8;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background: #FFFFFF;
}

.tableCell {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #C8C8C8;
    border-left: none;
}

.tableFooter {
    border: 1px solid #C8C8C8;
}

.container {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;

}


.cell {
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.addTask {
    cursor: pointer;
}

.label {
    padding: 5px 20px;
    border-radius: 20px;
    background: #1258CA;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.responsibleContainer {
    display: flex;
    justify-content: center;
}

.responsibleCell {
    width: 30px;
    height: 36px;
    border-radius: 50%;
    background: #9BACC9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.responsibleCell:hover {
    background: #0E4298;
}

.dependence {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.status {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.duration {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #A3A3A3;
}

.footer:hover {
    cursor: pointer;
}

.blue {
    background: #1258CA;;
}

.red {
    background: #CA12C3;
}

.green {
    background: #16CA12;
}

.darkgreen {
    background: #0F8622;
}

.brown {
    background: #CA8012;
}

.ultraviolet {
    background: #A27CF2;
}

.yellow {
    background: #DDD625;
}

.list {
    display: flex;
}

.list:hover {
    cursor: pointer;
}

.listActive {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    margin-top: 5px;
}

.el {
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrow {
    cursor: pointer;
}