.tableContainer {
  border-right: none;
  border-spacing: 0;
  width: 100%;
  filter: drop-shadow(0px 4px 50px rgba(18, 88, 202, 0.08));
  border-radius: 6px;
  overflow: hidden;
}

.tableHeader {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  border-right: 1px solid #c8c8c8;
  border-left: none;
  border-bottom: none;
  border-top: none;
  background: #7aa8f3;
  text-align: center;
  padding: 5px;
}

.tableCell {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  border: 1px solid #cfd9ef;
  border-left: none;
  border-bottom: none;
  background: #ffffff;
}

.border {
  border-top: none;
}

.tableFooter {
  border: 1px solid #c8c8c8;
}

.container {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.cell {
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.cell:hover {
  cursor: pointer;
}

.paddingLeftFirst {
  padding-left: 18px;
  font-weight: 400;
}

.paddingLeftSecond {
  padding-left: 36px;
  font-weight: 400;
}

.addTask {
  cursor: pointer;
}

.label {
  padding: 5px 20px;
  border-radius: 20px;
  background: #1258ca;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.responsibleContainer {
  display: flex;
  justify-content: center;
}

.responsibleCell {
  width: 30px;
  height: 36px;
  border-radius: 50%;
  background: #9bacc9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.responsibleCell:hover {
  background: #0e4298;
}

.dependence {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.status {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.duration {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.footer {
  padding: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #1258ca;
}

.footer:hover {
  cursor: pointer;
}

.blue {
  background: #1258ca;
}

.red {
  background: #ca12c3;
}

.green {
  background: #16ca12;
}

.darkgreen {
  background: #0f8622;
}

.brown {
  background: #ca8012;
}

.ultraviolet {
  background: #a27cf2;
}

.yellow {
  background: #ddd625;
}

.list {
  display: flex;
}

.list:hover {
  cursor: pointer;
}

.listActive {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  margin-top: 5px;
}

.el {
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrow {
  cursor: pointer;
}
