.container {
    box-sizing: border-box;
    padding: 20px 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 5px;
}

.container:hover {
    /*font-weight: 600;*/
    cursor: pointer;
    border: 1px solid #4270A7;
    background: #D5D5D5;
    opacity: 0.7;

}

.formContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 50%;
    row-gap: 46px;
    column-gap: 20px;
}

.clicked {
    background-color: #D5D5D5;
    border: 1px solid #4270A7;
}