.tableContainer {
    border-bottom: none;
    outline: none;
    border-spacing: 0;
    width: 100%;
    filter: drop-shadow(0px 4px 50px rgba(18, 88, 202, 0.08));
    border-radius: 8px;
    overflow: hidden;
}

.tableHeader {
    padding: 5px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    background: #7aa8f3;
}

.tableCell {
    padding: 16px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 0.5px solid #b0c0e0;
    background: #ffffff;
}

.nameContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.name:hover {
    cursor: pointer;
    color: #0e4298;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9bacc9;
    color: #ffffff;
}

.avatar:hover {
    background: #0e4298;
}

.btn {
    width: 90px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBlock {
    display: flex;
    gap: 10px;
}

.iconContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.telegram {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #a3a3a3;
    display: flex;
    justify-content: start;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.headerName {
    display: flex;
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    transform: translate(0, 30px);
    background: #ecf0f8;
    border-radius: 10px;
}

.dropdown_item {
    display: flex;
    gap: 10px;
    padding: 8px 13px;
    cursor: pointer;
}
