.color {
  position: relative;
}

.label {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 0;
  top: 4px;
}

.labelRed {
  background-color: red;
}

.labelBlue {
  background-color: blue;
}

.labelYellow {
  background-color: yellow;
}

.labelDarkgreen {
  background-color: Darkgreen;
}

.labelGreen {
  background-color: Green;
}

.labelBrown {
  background-color: Brown;
}

.labelViolet {
  background-color: violet;
}
