.wrap {
  transform: translateX(1500px);
  transition: all 0.7s;
  position: absolute;
  top: 54px;
  right: 0;
  width: 742px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  padding: 53px 30px 40px 53px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
}

.activeModal {
  transform: translateY(0);
  transition: all 0.7s;
}

.icon {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 28px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.titleContainerDiv {
  height: 60px;
}

.titleContainer:hover .popoverTitle {
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -50px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  background: rgba(183, 210, 254, 0.6);
}

.hide {
  display: none;
}

.popoverTitle {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 250px;
  transform: translate(0, 10px);
  background: rgba(183, 210, 254, 0.6);
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 350px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #212121;
  backdrop-filter: blur(5px);
}

.popoverTitle:after {
  position: absolute;
  z-index: -1;
  content: '';
  left: 50%;
  top: 35px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: rgba(183, 210, 254, 0.6) transparent transparent transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.title {
  width: 185px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
  background-color: transparent;
  padding: 0;
}

.titleDiv {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
}

.title:hover,
.title:focus {
  border: none;
  outline: none;
}

.title:focus::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #898b9b;
}

.title::placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
}

.edit {
  margin-left: -20px;
  margin-bottom: -20px;
}

.edit:hover {
  cursor: pointer;
}

.editDiv {
  margin-left: -10px;
}

.innerData {
  margin-bottom: 60px;
}

.itemData {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.titleData {
  flex-basis: 175px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #a3a3a3;
}

.desc {
  position: relative;
  max-width: 670px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #212121;
}

.textarea {
  border: 1px solid #4270a7;
  border-radius: 10px;
  resize: none;
  outline: none;
  padding: 20px;
  width: 75%;
  height: 200px;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9e9e9e;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  gap: 9px;
}

.cancelBtn {
  width: 147px;
  height: 40px;
  background: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #a3a3a3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveBtn {
  width: 147px;
  height: 40px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.created {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.contentInput {
  width: 220px;
  height: 36px;
  border: 1px solid #4270a7;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0e0e0e;
  padding-left: 14px;
  outline: none;
}

.dropdownControl {
  width: 240px;
  height: 40px;
  border: 1px solid #4270a7;
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  padding-left: 14px;
  color: #a3a3a3;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownControlColor {
  color: #0e0e0e;
}

.dropdownPlaceholder {
  text-align: start;
}

.dropdownControl:hover {
  border: 1px solid #4270a7;
}
.arrowOpen {
  border-color: transparent transparent #1258ca;
  border-width: 0 5px 5px;
}

.arrowClosed,
.arrowOpen {
  top: 16px;
  border-color: #1258ca transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  right: 15px;
  width: 0;
}

.dropdownMenu {
  margin-top: 5px;
  border-radius: 10px;
  z-index: 999999;
}

.label {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputWrap {
  position: relative;
}

.addLink {
  position: absolute;
  top: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #b0c0e0;
  cursor: pointer;
  z-index: -1;
}

.plas path {
  stroke: #b0c0e0;
}

.inputLink {
  color: transparent;
  width: 220px;
  height: 36px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  padding-left: 14px;
  cursor: pointer;
  outline: none;
}

.inputLink:focus {
  border: 1px solid #4270a7;
  color: #212121;
}

.inputLink:focus + .addLink {
  display: none;
}

.doc {
  margin-bottom: 5px;
}

.deleteDoc {
  position: relative;
  top: -5px;
  right: -3px;
  color: red;
  font-size: 10px;
  cursor: pointer;
}

.attanchment {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.attanchment svg {
  cursor: pointer;
}

.documents {
  display: flex;
  align-items: center;
  gap: 15px;
}

.document {
  position: relative;
  width: 100px;
  height: 88px;
  border: 1px solid #9bacc9;
  border-radius: 10px;
  padding: 16px 11px 10px 13px;
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.close svg {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
